.playerCardsContainer {

}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 40vw;
    background-color: rgb(219, 225, 236);
}

/* card body */
.cardBody {
    width: 90%;
    background-color: rgb(219, 225, 236);
    overflow-x: scroll;
    margin-bottom: 20px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.playerTitle {
    text-align: start;
    margin-left: 30px;
    margin-bottom: 9px;
}
/* TMW 2/3
Continue to reformat the above sections
correctly to fit player's name */

.playerDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding-right: 10px; */
    padding-bottom: 12px;
    padding-left: 30px;
}

.playerDetails > h5 {
    margin: 0px;
    margin-top: 10px;
    justify-self: start;
}

.playerDetails > .jersey, 
.playerDetails > .height {
    justify-self: center;
}

.dataTable {
   
}

.headerRow {

}


.seasonRow {
    border: 1px solid black;
}

.seasonRow > tr {
    border-spacing: 10px;
}

th, td {
    padding: 9px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(236, 239, 244);
}

td {
    font-size: 13px;
    font-weight: 600;
}
