.playerCardsContainer {

}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    /* 42.2 matches searchBar */
    width: 42.2vw;
    background-color: rgb(219, 225, 236);
}

/* card body */
.cardBody {
    width: 90%;
    background-color: rgb(219, 225, 236);
    overflow-x: scroll;
    margin-bottom: 20px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

}

.playerTitle {
    text-align: start;
    margin-left: 30px;
    margin-bottom: 9px;
}

.playerDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding-right: 10px; */
    padding-bottom: 12px;
    padding-left: 30px;
}

.playerDetails > h5 {
    margin: 0px;
    margin-top: 10px;
    justify-self: start;
}

.playerDetails > .jersey, 
.playerDetails > .height {
    justify-self: center;
}

.playerDetails > .college {
    justify-self: start;
}

.dataTable {
   
}

.headerRow {

}


.seasonRow {
    border: 1px solid black;
}

.seasonRow > tr {
    border-spacing: 10px;
}

th, td {
    padding: 9px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(236, 239, 244);
}

td {
    font-size: 13px;
    font-weight: 600;
}

/* loading animation */
.loadSpinner {
    /* change color here */
    color: #1c4c5b
}
.loadSpinner,
.loadSpinner div,
.loadSpinner div:after {
    box-sizing: border-box;
}
.loadSpinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loadSpinner div {
    animation: circleSpin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.loadSpinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}
  .loadSpinner div:nth-child(1) {
    animation-delay: -0.036s;
}
.loadSpinner div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}
.loadSpinner div:nth-child(2) {
    animation-delay: -0.072s;
}
.loadSpinner div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}
.loadSpinner div:nth-child(3) {
    animation-delay: -0.108s;
}
.loadSpinner div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}
.loadSpinner div:nth-child(4) {
    animation-delay: -0.144s;
}
.loadSpinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.loadSpinner div:nth-child(5) {
    animation-delay: -0.18s;
}
.loadSpinner div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}
.loadSpinner div:nth-child(6) {
    animation-delay: -0.216s;
}
.loadSpinner div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}
.loadSpinner div:nth-child(7) {
    animation-delay: -0.252s;
}
.loadSpinner div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}
.loadSpinner div:nth-child(8) {
    animation-delay: -0.288s;
}
.loadSpinner div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}
@keyframes circleSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* end of loading section */
