.compareContainer {
    color: white;
}

.compareTitle {
    margin-top: 10px;
}

.compareTable {
    border-collapse: collapse;
    color: black;
}

.compareHeader {
    background-color: #3B6790;
    color: white;

}

.compareHeader, .compareBody > tr {
    border-bottom: 1px solid #3B6790;
    border-bottom: 1px solid #9c9e9f
}

.compareHeader th, .compareBody td {
    padding: 9px 11px;
    border: none;
    border-radius: 0px;
}

.player1Row, .player2Row {
    background-color: whitesmoke;
}

.comparisonRow {
    background-color: aliceblue;
}

.comparisonRow td {
    font-weight: bold;
}

.positive {
    color: #36AB8B;
}

.negative {
    color: red;
}