body {
  margin: 0px;
  min-height: 100vh;
}

.MAINcontainer {
  min-height: 100vh;
}

.MAINcontainer > div {
  min-height: 100vh;
}


#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  min-height: 100vh;
}

@font-face {
  font-family: titleFont;
  src: url(./assets//RankedSports-4BMrB.ttf);
}


a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}


/* Nav Bar */
.navBar {
  background-color: #3B6790;
  height: 92px;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.siteOverview {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  color: white;
}

.siteTitleBox {
  display: flex;
  align-items: center;
}

.siteTitleBox > h2 {
  font-size: 35px;
  font-family: titleFont;
  font-weight: 100;
}

.piranhaIcon {
  height: 40px;
  margin-left: 10px;
}

.infoLinksContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.infoLinksContainer > * {
  font-weight: bold;
}


.leagueSelection {
  position: relative;
  display: flex;
  margin-right: 30px;
}

.leagueSelection > * {
  color: white;
}

.leagueBtn {
  margin-top: 35px;
  font-size: 17px;
  background: none;
  transition: all 200ms ease-in;
}

.leagueBtn:hover {
  background-color: #8cbfb2;
  box-shadow: 0 0 2px 0px rgb(0, 0, 0, 0.6);
}

.downCaretIcon {
  transition: all 200ms ease-in;
}


.leagueDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80px;
  padding: 5px 0px;
  top: 50px;
  opacity: 0;
  transition: all ease-in 200ms;
}

.dropdownVisible {
  width: 80px;
  opacity: 1;
  transform: translateY(10px);
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 0px rgb(113, 113, 113);
}

.leagueDropdown > * {
  margin: 5px 0px;
  margin-left: 15px;
  color: black;
}


/* footer section */
.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(135, 152, 166);
  height: 110px;
  /* full screen width - padding : */
  width: calc(100% - 70px);
  padding: 0px 30px;
  padding-right: 40px;
  box-shadow: 0px -8px 20px 0px rgb(0, 0, 0, 0.2);
}

.footerContainer > * {
  color: white;
}


.copyrightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
.copyrightContainer > * {
  font-size: 13px;
}

.siteInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contactHeader {
  margin-bottom: 5px;
  font-size: 17px;
  text-align: start;
}

.emailContact {
  font-size: 14px;
  margin: 8px 0px;
  margin-bottom: 10px;
}

.githubContact {
  font-size: 14px;
  text-align: left;
  justify-self: start;
  text-decoration: none;
  color: white;
}

.githubContact:hover {
  color: #8cbfb2;
}

.githubIcon {
  margin-right: 5px;
}

@media (max-width: 680px) {
  .siteOverview {
    flex-direction: column;
    gap: 10px;
  }

  .siteTitleBox {
    /* margin: 10px ; */
  }

  .siteTitleBox > h2 {
    margin: 15px 0px;
    margin-bottom: 0px;
    font-size: 30px;
  }

  .piranhaIcon {
    height: 30px;
    margin-top: 10px;
  }

  .leagueSelection {
    margin-right: 3px;
  }
}

@media (max-width: 450px) {
  .navBarContainer {
    padding-right: 6px;
  }

  .footerContainer {
    padding: 0px 10px;
    width: calc(100% - 20px)
  }

  .copyrightContainer {
    gap: 3px;
  }

  .copyrightContainer > * {
    font-size: 11px;
  }

  .contactHeader {
    font-size: 16px;
  }

  .emailContact, .githubContact {
    font-size: 12.5px;
  }
}

