.mainNbaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* padding: 0px 20px; */
    margin: 30px 15px;
}


/* player search */
.playerSearchSection {
    vertical-align: middle;
    display: flex;
    justify-content: start;
    gap: 200px;
    height: 110px;
    width: 90%;
    background-color: rgb(83, 177, 83);
    padding: 0px 30px;
}

.searchContainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.fadeInContainer {
    animation: fadeIn 0.5s ease-in;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

.searchContainer2 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.playerSearchForm {
    
}

.resultsBox {
    position: absolute;
    top: 20px;

    visibility: hidden;
    background-color: cadetblue;
    overflow: scroll;
    height: 300px;
}

.activeList {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: cadetblue;
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    padding: 20px 10px;
    padding-top: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 0px rgb(88, 87, 87);
    visibility: visible;
    z-index: 2;
}

.exitSearchBtn {
    align-self: end;
}

.playerResult {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 7px 0px;
}

.playerLink {
    padding: 0px;
    width: 100%;
    background: none;
    text-align: start;
    border: none;
}

/* loading animation */
.searchSpinner {
    /* change color here */
    color: #1c4c5b
}
.searchSpinner,
.searchSpinner div,
.searchSpinner div:after {
    box-sizing: border-box;
}
.searchSpinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.searchSpinner div {
    animation: circleSpin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.searchSpinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
}
  .searchSpinner div:nth-child(1) {
    animation-delay: -0.036s;
}
.searchSpinner div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
}
.searchSpinner div:nth-child(2) {
    animation-delay: -0.072s;
}
.searchSpinner div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
}
.searchSpinner div:nth-child(3) {
    animation-delay: -0.108s;
}
.searchSpinner div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
}
.searchSpinner div:nth-child(4) {
    animation-delay: -0.144s;
}
.searchSpinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.searchSpinner div:nth-child(5) {
    animation-delay: -0.18s;
}
.searchSpinner div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
}
.searchSpinner div:nth-child(6) {
    animation-delay: -0.216s;
}
.searchSpinner div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
}
.searchSpinner div:nth-child(7) {
    animation-delay: -0.252s;
}
.searchSpinner div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
}
.searchSpinner div:nth-child(8) {
    animation-delay: -0.288s;
}
.searchSpinner div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
}
@keyframes circleSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* end of loading section */

.noResultsHeader {
    align-self: center;
}


/* Create Button section */
.createBtnContainer {
    position: relative;
    height: 120px;
    width: 100%;
}

.createCompBtn {
    position: absolute;
    top: 20px;
    visibility: hidden;
}

.visibleBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    padding: 12px 14px;
    font-size: 22px;
    font-weight: bold;
}


/* playerCard section */
.playerCardSection {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* player comparison */
.playerCompSection {
    margin: 40px 0px;
    padding: 20px 0px;
    background-color: rosybrown;
}


/* filler container */
.fillerContainer {
    padding-bottom: 100px;
}